<ion-list class="container">
  <ion-item>
    <ion-label>
      <h1 class="ion-text-center">{{ plant.nameLatin }}</h1>
      <p class="ion-text-center">{{ plant.nameGerman }}</p>
    </ion-label>
  </ion-item>

  <ion-button expand="block" class="img-container">
    @if(imageSrc){
    <ion-img [src]="imageSrc" style="width: 100%; height: 100%; border-radius: 8px;"></ion-img>
    }@else{
    <ion-text color="medium">Kein Bild vorhanden</ion-text>
    }
  </ion-button>

  <div class="icons-container">
    <ion-img class="icon" [src]="lightIcons[plant.light]" />
    <ion-img class="icon" [src]="waterIcons[plant.watering]" />
    @for(icon of icons; track icon){
    <ion-img class="icon" src="assets/icons/{{icon}}" />
    }
  </div>

  <ion-item>
    <strong>Typ:</strong>
    <ion-label slot="end">
      {{ plant.type }}
    </ion-label>
  </ion-item>


  @if(plant.fertilization.enabled){
  <ion-item>
    <strong>Dünger:</strong>
    <ion-label slot="end">
      {{ plant.fertilization.type }} – {{ plant.fertilization.time }}
    </ion-label>
  </ion-item>
  }

  @if(plant.pruning.enabled){
  <ion-item>
    <strong>Beschneidung:</strong>
    <ion-label slot="end">
      {{ plant.pruning.amount }} – {{ plant.pruning.time }}
    </ion-label>
  </ion-item>
  }

  @if(plant.fruit.enabled){
  <ion-item>
    <strong>Früchte:</strong>
    <ion-label slot="end">
      {{ plant.fruit.time.start }} – {{ plant.fruit.time.end }}
    </ion-label>
  </ion-item>
  }

  <ion-item>
    <strong>Blütezeit:</strong>
    <ion-label slot="end">
      {{ plant.bloomTime.start }} – {{ plant.bloomTime.end }}
    </ion-label>
  </ion-item>

  <ion-item>
    <strong>Abstand:</strong>
    <ion-label slot="end">
      {{ plant.distance.start | commaDecimal }} –
      {{ plant.distance.end | commaDecimal }} m
    </ion-label>
  </ion-item>

  <ion-item>
    <strong>Höhe:</strong>
    <ion-label slot="end">
      {{ plant.height.start | commaDecimal}} –
      {{ plant.height.end | commaDecimal }} m
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <div class="notice-container ion-margin-vertical">
      <strong>Notizen/Pflege/Schritt:</strong>
      <ion-label>
        {{ plant.notice }}
      </ion-label>
    </div>
  </ion-item>

</ion-list>