.container {
  border: 1px solid black;
  border-radius: 8px;
  -webkit-box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.6);
}

.icons-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
}

.icon {
  height: 35px;
  width: 35px;
}

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  gap: 2px;
  flex-wrap: wrap;
  justify-content: flex-start;

  .color-choices {
    --size: 32px;
    pointer-events: none;

    &::part(container) {
      border-radius: 6px;
      border: 2px solid grey;
    }
  }
}


.close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  z-index: 10;
}

.notice-content {
  margin-top: 8px;
  min-height: 100px;
  white-space: pre-line;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-preview {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}