.img-container {
    height: 200px;
    border-radius: 8px;
    --background: #e0e0e0;
    margin: 0 12px;
}

.container {
    border: 1px solid black;
    border-radius: 8px;
    -webkit-box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.6);
}

.icons-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
}

.icon {
    height: 35px;
    width: 35px;
}

.notice-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    ion-label {
        height: 100px;
    }
}