<div class="chip-container">
  <ion-label class="title">Eigenschaften:</ion-label>
  <div class="chip-list">
    @for (box of checkboxArray(); track box.name) {
      <ion-button
        size="small"
        [fill]="box.checked ? 'solid' : 'outline'"
        [style.--background]="box.checked ? 'var(--selected-item)' : ''"
        (click)="toggleCheckbox()(box)"
      >
        @if (box.checked) {
          <ion-icon
            class="checkbox-icon"
            slot="start"
            name="checkmark"
          ></ion-icon>
        }
        {{ box.label }}
        <ion-img
          class="checkbox-img"
          slot="end"
          src="assets/icons/{{ box.icon }}"
        ></ion-img>
      </ion-button>
    }
  </div>
</div>
