:host {
  display: block;
  width: 100%;
}

.choices-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
  margin-top: 8px; /* space from label */
}

.custom-select {
  flex: 1;
  background: rgba(var(--ion-color-medium-rgb), 0.1);
  border-radius: 12px;
  padding: 8px 16px;
  min-height: 44px;
  font-weight: 500;

  &::part(icon) {
    color: var(--ion-color-medium);
  }

  &::part(text) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  &.is-disabled {
    opacity: 0.45;
    pointer-events: none;
  }
}

.add-btn {
  margin: 0;
  height: 44px;
  width: 44px;
  --border-radius: 50%;

  ion-icon {
    font-size: 26px;
  }
}
