<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" >
      <app-add-button [parentCollection]="collectionId"  />
    </ion-buttons>
    <ion-title>{{collection?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-list>
      <app-plant-list [plants]="plants" [collections]="collections" [isLoading]="isLoading" />
    </ion-list>
  </div>
</ion-content>