.container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    height: 100%;

    ion-list {
        flex: 1;
    }


    .button {
        position: sticky;
        bottom: var(--ion-safe-area-bottom);
        margin-bottom: unset;
    }
}