<div
  class="plant-list"
  slot="content"
>
  @if (isLoading || isSorting()) {
    <ion-item
      class="plant-item"
      lines="none"
    >
      <ion-spinner></ion-spinner>
    </ion-item>
  } @else {
    @if (mergedItems.length === 0) {
      <div class="empty-state">
        <ion-icon name="leaf-outline"></ion-icon>
        <ion-text>Keine Pflanzen gefunden</ion-text>
      </div>
    } @else {
      <cdk-virtual-scroll-viewport
        itemSize="80"
        class="virtual-scroll"
        [style.height]="viewportHeight"
      >
        <ng-container
          *cdkVirtualFor="let item of mergedItems; let last = last; trackBy: trackByItem"
        >
          <ion-item
            button
            detail="true"
            (click)="goTo(item.path, item.id)"
            [lines]="last ? 'none' : 'inset'"
            class="styled-item"
          >
            <div
              slot="start"
              class="icon-container"
              [ngClass]="item.type"
            >
              <ion-icon
                [name]="item.type === 'collection' ? 'folder-open-outline' : 'leaf-outline'"
              ></ion-icon>
            </div>
            <div class="item-text">
              <h2 [ngClass]="{ 'collection-title': item.type === 'collection' }">
                {{ item.displayName }}
              </h2>
              <p>{{ item.type === 'collection' ? 'Kategorie' : 'Pflanze' }}</p>
            </div>
          </ion-item>
        </ng-container>
      </cdk-virtual-scroll-viewport>
    }
  }
</div>
