<ion-button (click)="dialog.present()">
  <ion-icon name="filter-outline"></ion-icon>
</ion-button>

<ion-modal
  id="dialog"
  #dialog
>
  <ng-template>
    <div class="wrapper">
      <ion-item>
        <h1>Filter</h1>

        @if (isChecked()) {
          <ion-button
            slot="end"
            fill="clear"
            (click)="resetFilters()"
          >
            Zurücksetzen
          </ion-button>
        }
      </ion-item>
      <div class="scroll-area">
        <ion-list>
          <ion-item>
            <app-selector
              [options]="options"
              [value]="selected()"
              (valueChange)="selected.set($event)"
            />
          </ion-item>
          <ion-item>
            <div class="height">
              <ion-item
                class="ion-no-padding"
                lines="none"
              >
                <ion-label>Größe:</ion-label>

                <ion-checkbox
                  slot="end"
                  [(ngModel)]="height.checked"
                />
              </ion-item>
              @if (height.checked) {
                <app-range-slider
                  [range]="distanceRange"
                  [value]="height.range"
                  (valueChange)="height.range = $event"
                />
              }
            </div>
          </ion-item>
          <ion-item>
            <div class="height">
              <ion-item
                class="ion-no-padding"
                lines="none"
              >
                <ion-label>Blüte-/Erntezeit:</ion-label>

                <ion-checkbox
                  slot="end"
                  [(ngModel)]="bloomTime.checked"
                />
              </ion-item>
              @if (bloomTime.checked) {
                <app-range-slider
                  [range]="monthRange"
                  [value]="bloomTime.range"
                  (valueChange)="bloomTime.range = $event"
                />
              }
            </div>
          </ion-item>
          <ion-item>
            <div class="chip-container">
              <ion-label class="title">Typen:</ion-label>
              <div class="chip-list">
                @for (type of (allPlantTypes() | async) ?? []; track type) {
                  <ion-button
                    size="small"
                    [fill]="filterTypes().includes(type) ? 'solid' : 'outline'"
                    [style.--background]="
                      filterTypes().includes(type) ? 'var(--selected-item)' : ''
                    "
                    (click)="toggleTypeBox(type)"
                  >
                    @if (filterTypes().includes(type)) {
                      <ion-icon
                        class="checkbox-icon"
                        slot="start"
                        name="checkmark"
                      ></ion-icon>
                    }
                    {{ type }}
                  </ion-button>
                }
              </div>
            </div>
          </ion-item>
          <ion-item>
            <div class="chip-container">
              <ion-label class="title">Eigenschaften:</ion-label>
              <div class="chip-list">
                @for (box of checkboxArray(); track box.name) {
                  <ion-button
                    size="small"
                    [fill]="box.checked ? 'solid' : 'outline'"
                    [style.--background]="box.checked ? 'var(--selected-item)' : ''"
                    (click)="toggleCheckbox(box)"
                  >
                    @if (box.checked) {
                      <ion-icon
                        class="checkbox-icon"
                        slot="start"
                        name="checkmark"
                      ></ion-icon>
                    }
                    {{ box.label }}
                    <ion-img
                      class="checkbox-img"
                      slot="end"
                      src="assets/icons/{{ box.icon }}"
                    ></ion-img>
                  </ion-button>
                }
              </div>
            </div>
          </ion-item>
        </ion-list>
      </div>
      <div class="footer-buttons">
        <ion-button
          fill="clear"
          (click)="dialog.dismiss()"
        >
          Schließen
        </ion-button>
        <ion-button
          [disabled]="!isChecked()"
          (click)="applyFilters(); dialog.dismiss()"
        >
          Filtern
        </ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>
