.wrapper {
    flex: 1;
    width: 100vw;

    .height {
        width: 100%;

        ion-item {
            --padding-end: 0px;
            --inner-padding-end: 0px;
        }
    }

    .scroll-area {
        height: 70vh;
        overflow-y: scroll;
    }

    .footer-buttons {
        display: flex;
        justify-content: space-between;
        padding: 12px;
    }
}