<ion-fab
  slot="fixed"
  vertical="bottom"
  horizontal="center"
  class="add-fab"
>
  <ion-fab-button (click)="dialog.present()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal
  id="dialog"
  #dialog
  class="add-modal"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
>
  <ng-template>
    <div class="modal-wrapper">
      <div class="modal-header">
        <h2>Hinzufügen</h2>
        <p>Wähle eine Option aus</p>
      </div>

      <div class="action-grid">
        <div
          class="action-card"
          (click)="collectionDialog.present(); dialog.dismiss()"
        >
          <div class="icon-circle secondary">
            <ion-icon name="folder-outline"></ion-icon>
          </div>
          <span>Sammlung</span>
        </div>

        <div
          class="action-card"
          (click)="navigateToAddPlant(); dialog.dismiss()"
        >
          <div class="icon-circle primary">
            <ion-icon name="leaf-outline"></ion-icon>
          </div>
          <span>Pflanze</span>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal
  #collectionDialog
  [initialBreakpoint]="0.5"
  [breakpoints]="[0, 0.5]"
  class="collection-modal"
  (didDismiss)="newCollection = ''"
>
  <ng-template>
    <div class="modal-wrapper">
      <div class="modal-header">
        <h2>Neue Sammlung</h2>
        <p>Geben Sie einen Namen für Ihre neue Sammlung ein</p>
      </div>

      <ion-item
        lines="none"
        class="styled-input"
      >
        <ion-input
          placeholder="z.B. Zimmerpflanzen"
          [(ngModel)]="newCollection"
          autofocus="true"
        ></ion-input>
      </ion-item>

      <ion-button
        class="submit-button"
        expand="block"
        (click)="addNewCollection(); collectionDialog.dismiss()"
        [disabled]="!newCollection"
      >
        Erstellen
      </ion-button>
    </div>
  </ng-template>
</ion-modal>
