.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 4px;
}

ion-content {
  --background: var(--ion-color-light);
}

ion-title {
  font-weight: 600;
}
