<div class="container">
  <ion-accordion-group animated="false">
    @for (letter of letters; track $index) {
    <ion-accordion [value]="letter">
      <ion-item slot="header" class="accordion-header" [ngClass]="$index % 2 === 0 ? 'first' : 'second'"
        (click)="fetchPlants(letter)">
        <ion-label class="label">{{ letter }}</ion-label>
        <ion-icon class="ion-accordion-toggle-icon ion-margin-end" name="chevron-down" slot="end" color="black">
        </ion-icon>
      </ion-item>
      <div class="plant-list" slot="content">
        @if(plants.length === 0 && collections.length === 0) {
        <ion-item class="plant-item" lines="none">
          <span>
            Keine Pflanzen
          </span>
        </ion-item>
        }@else {
        @for(collection of collections; track $index) {
        <ion-item>
          <span>
            {{ collection.name }} Sammlung
          </span>
        </ion-item>
        }
        @for (plant of plants; track $index) {
        <ion-item class="plant-item">
          <span>
            - {{ plant.nameLatin }}
          </span>
        </ion-item>
        }
        }
      </div>
    </ion-accordion>
    }
  </ion-accordion-group>
</div>