.container {
  .accordion-header {
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    text-align: center;
    --color: #000;

    .label {
      margin-left: 40px;
    }
  }

  .first {
    --background: #bec9b5;
  }

  .second {
    --background: #d7dcd3ff;
  }

  .plant-list {
    .plant-item {
      // padding: 12px 0;
      // border-bottom: 1px solid var(--ion-color-medium);
      height: 50px;
      display: flex;
      align-items: center;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}