<div class="container">
  <ion-accordion-group (ionChange)="onAccordionChange($event)">
    @for (letter of letters; track $index) {
    <ion-accordion [value]="letter">
      <ion-item slot="header" class="accordion-header" [ngClass]="$index % 2 === 0 ? 'first' : 'second'">
        <ion-label class="label">{{ letter }}</ion-label>
        <ion-icon class="ion-accordion-toggle-icon ion-margin-end" name="chevron-down" slot="end" color="black" />
      </ion-item>
      <app-plant-list [plants]="plants" [collections]="collections" [isLoading]="isLoading" slot="content" />
    </ion-accordion>
    }
  </ion-accordion-group>
</div>