<div
  class="ion-page"
  id="main-content"
>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <app-filter-button
          (applyFiltersFn)="onApplyFilter($event)"
          (resetFiltersFn)="onResetFilter()"
        />
      </ion-buttons>
      <ion-searchbar
        placeholder="Pflanzen suchen..."
        [value]="searchQuery"
        (ionInput)="onSearch($event)"
      />
    </ion-toolbar>
  </ion-header>

  <ion-content
    [scrollY]="false"
  >
    @if (searchQuery) {
    <app-plant-list [plants]="searchResults" />
    } @else {
    <app-dropdown-list #dropdownList />
    }
    <app-add-button />
  </ion-content>
</div>
