<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pflanze hinzufügen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">addPlant</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="safe-area">
    <ion-list>
      <ion-list>
        <app-image-picker [value]="(plantForm$ | async)?.imageUrl"
          (valueChange)="plantFormService.update('imageUrl', $event)" />
      </ion-list>
      <ion-item>
        <ion-input label="Lateinischer Name" labelPlacement="floating" placeholder="Enter text"
          [value]="(plantForm$ | async)?.nameLatin"
          (ionChange)="plantFormService.update('nameLatin', $event.detail.value ?? '')" />
      </ion-item>
      <ion-item>
        <ion-input label="Deutscher Name" labelPlacement="floating" placeholder="Enter text"
          [value]="(plantForm$ | async)?.nameGerman"
          (ionChange)="plantFormService.update('nameGerman', $event.detail.value ?? '')" />
      </ion-item>
      <ion-item>
        <app-range-slider label="Größe:" [range]="distanceRange" [value]="(plantForm$ | async)?.height!"
          (valueChange)="plantFormService.update('height', $event)" />
      </ion-item>

      <ion-item>
        <app-range-slider label="Blüte-/Erntezeit:" [range]="monthRange" [value]="(plantForm$ | async)?.bloomTime!"
          (valueChange)="plantFormService.update('bloomTime', $event)" />
      </ion-item>
      <ion-item>
        <app-soil />
      </ion-item>
      <ion-item>
        <app-fertilization />
      </ion-item>
      <ion-item>
        <app-range-slider label="Abstand zu anderen:" [range]="distanceRange" [value]="(plantForm$ | async)?.distance!"
          (valueChange)="plantFormService.update('distance', $event)" />
      </ion-item>

      <ion-item>
        <app-water-selector />
      </ion-item>

      <ion-item>
        <app-light-selector />
      </ion-item>

      @for( field of checkboxFields; track field){
      <ion-item>
        <ion-label>{{ checkboxLabels[field] }}</ion-label>
        <ion-checkbox slot="end" [checked]="(plantForm$ | async)?.[field]"
          (ionChange)="plantFormService.update(field, $event.detail.checked)">
        </ion-checkbox>
      </ion-item>
      }

    </ion-list>
  </div>

</ion-content>