<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHomeOrCollection()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ plant?.nameLatin }}</ion-title>
    <ion-title
      size="small"
      class="ion-text-center"
    >
      {{ plant?.nameGerman }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(errorMsg){
  <div class="container">
    <ion-text color="danger">{{errorMsg}}</ion-text>
  </div>
  }@else if (isLoading) {
  <div class="container">
    <ion-spinner />
  </div>
  }@else {
  <app-plant-details [plant]="plant!" />
  }
</ion-content>
