<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToAddPlant()">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(errorMsg){
  <div class="container">
    <ion-text color="danger">
      {{errorMsg}}
    </ion-text>
  </div>
  }@else if (isLoading) {
  <div class="container">
    <ion-spinner />
  </div>
  }@else {
  <div class="plant-container">
    <app-plant-details [plant]="plant!" />
  </div>
  }
</ion-content>